
<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/movie/css/myStyle.css">
    <link rel="stylesheet" href="static/movie/css/style.css">
    <link rel="icon" type="image/ico" href="static/movie/Images/favicon.ico">
    <title>Moovr</title>
</head>

<body>
    <header class="container-fluid" id="header">
        <p id="jumbotron"><b>هر روز،<br />
                یک فیلم خوب،<br />
                کنار هم، میبینیم...</b></p>
        <div id="logo" class="headericon"><a href="{% url 'home' %}"><img style="height: 38px;" id="logoimage" src="{% static 'movie/Images/masterclass.png' %}"> </a></div>
        <div id="socialicons">
            <div id="twitter" class="headericon"><a href="http://www.twitter.com/mooverir"><img src="{% static 'movie/Images/Twitter.svg' %}"
                id="twitterimage"></a></div>
                <div id="telegram" class="headericon"><a href="http://t.me/moovr"><img src="{% static 'movie/Images/Telegram.svg' %}"
                    id="telegramimage"></a>
                </div>
            </div>
            <div id="profile" class="headericon"><a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                <img src="{% static 'movie/Images/Profile.svg' %}" id="profileimage">
            </a>
        </div>
        <div id="instagram" class="headericon"><a href="http://www.instagram.com/moovr_ir"><img
            src="{% static 'movie/Images/Instagram.svg' %}" id="instagramimage"></a>
        </div>
    </header>
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'logoutuser' %}">
            <button style="position: fixed;" id="button" type="submit">خروج</button>
            {% csrf_token %}
        </form>
        {% else %}
            {% csrf_token %}
            <button style="position: fixed;" id="button" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalScrollable2">عضویت</button>
        </a>
        {% endif %}
    <!-- <div id="content">
            <img src="static/movie/Images/line.svg" id="line">
        <div id="day">
            <h4 style="text-align: center; padding-top: 15px; font-family: Arial, Helvetica, sans-serif;"><b>{{ FilmOfTheDay.Title }}</b>
            </h4>
            <div id="lefttitle" class="title">Film of the Day</div>
            <div id="midtitle" class="title">{{ FilmOfTheDay.Year }}</div>
            <div id="righttitle" class="title">{{ FilmOfTheDay.Director }}</div>


        </div>
        <div id="dayfilmparent">
            <a href="{% url 'movie:detail' FilmOfTheDay.id %}"><img src="{{ FilmOfTheDay.image.url }}" id="dayfilm"></a>
            <div id="daycopyright">
                <p id="q">{{ FilmOfTheDay.Synopsis }}</p>
            </div>


        </div> -->
        <div id="content">

            <div id="space">
    
            </div>
            <div id="dayfilmparent">
    
                <img src="{{ FilmOfTheDay.FilmOfTheDayImage.url }}" id="dayfilm">
    
                <div id="opacity">
                    <div id="filmofday">FILM OF THE DAY</div>
                    <div id="daytitle"><b>{{ FilmOfTheDay.Title }}</b></div>
                    <div id="dayinfo">
                        <p style="margin-bottom: 0;">Directed by {{ FilmOfTheDay.Director }}</p>
    
                    </div>
                    <div id="dayabout"><b></b>فیلم روز</b></div>
                    <div id="daycopyright">{{ FilmOfTheDay.Synopsis }}</div>
    
                </div>
                <a href="{% url 'movie:detail' FilmOfTheDay.id %}">
                    <div id="daymore">
                        ادامه
                    </div>
                </a>
    
    
    
    
            </div>




            <!-- {% for movie in movies %}
            <div class="filmbox">
                {% csrf_token %}
                <div class="copyright">
                    <p>{{ movie.Synopsis }}</p>
                    <img src="static/movie/Images/HD.svg" style="width: 30px; position: absolute; right: 35px; bottom: 15px;">
                    <p id="bishtar">
                        <بیشتر< /p>
                    </div>
                    <div class="filmphotoparent">
                        <a href="{% url 'movie:detail' movie.id %}"><img src="{{ movie.image.url }}" class="filmphoto" style="width: 750px; height: 280px;"></a>
                    </div>
                </div>
            {% endfor %} -->



                
            {% for movie in movies %}
                <div class="filmbox">
                    {% csrf_token %}
                <div class="copyright">
                    <p>{{ movie.Synopsis }}</p>
                    <img src="static/movie/Images/HD.svg" style="width: 30px; position: absolute; right: 35px; bottom: 5px;">
                    <a href="{% url 'movie:detail' movie.id %}">
                        <div class="more">
                            ادامه
                        </div>
                    </a>
                </div>
                <div class="filmphotoparent">
                    <a href="{% url 'movie:detail' movie.id %}"><img src="{{ movie.BoxFilmImage.url }}" class="filmphoto" style="width: 750px; height: 280px;">
                        <div class="donwloadparent"><img src="static/movie/Images/Donwload.svg" class="donwlaod">
                        </div>
                        <div class="title"><b>{{ movie.Title }}</b></div>
                        <div class="director">{{ movie.Director }}, {{ movie.Year }}</div>
                    </a>
                </div>
            </div>
            {% endfor %}

            
            
            
            <!-- <div id="footer">
                <a href="#">
                    <p id="footerp"
                    style="text-align: center; float: left; margin-left: 30px; margin-top: 30px; font-size: 17px;">moovr
                </p>
            </a>
            <a href="http://www.twitter.com/mooverir"> <img src="static/movie/Images/Twitter-black.svg" alt="Image"
                id="twitter-black"></a>
                <a href="http://www.instagram.com/moovr_ir"><img src="static/movie/Images/Instagram-black.svg" alt="Image"
                    id="instagram-black"></a>
                    <a href="http://www.t.me/moovr"> <img src="static/movie/Images/Telegram-black.svg" alt="Image" id="telegram-black">
                    </a>
                    <a href="#"><img src="static/movie/Images/Top.svg" id="top"></a>
                </div> -->
                
                <div id="footer">
                    <a href="{% url 'home' %}"> <img src="{% static 'movie/Images/masterclass.png' %}" alt="Image" id="logo-black"></a>
                    <a href="http://www.twitter.com/mooverir"> <img src="{% static 'movie/Images/Twitter.svg' %}" alt="Image" id="twitter-black"></a>
                    <a href="http://www.instagram.com/moovr_ir"><img src="{% static 'movie/Images/Instagram.svg' %}" alt="Image"
                        id="instagram-black"></a>
                        <a href="http://www.t.me/moovr"> <img src="{% static 'movie/Images/Telegram.svg' %}" alt="Image" id="telegram-black">
                        </a>
                        <a href="#"><img src="{% static 'movie/Images/Top.svg' %}" id="top"></a>
                    </div>
                    
                    
        </div> 
                    
<!-- Profile Modal -->


<!-- Profile Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 style="font-size: 1.25rem; padding-right: 10px;" class="modal-title"
            id="exampleModalCenterTitle">پروفایل شما</h5>
            <div class="float-left">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        
        {% if user.is_authenticated %}
        <div class="modal-body">
            <h6>Username : {{ user.username }}</h6>
            <h6>EmailAddress : {{ user.email }}</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            <form method="POST" action="{% url 'logoutuser' %}">
                <button type="submit" class="btn btn-warning">خروج</button>
                {% csrf_token %}
            </form>
        </div>
        {% else %}
        <div class="modal-body">
            <h6 style="font-size: 1rem;">در کمتر از ۳۰ ثانیه اکانت بسازید و از مزایای موور بهره مند شوید!</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalScrollable1">ورود</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalScrollable2">عضویت</button>
        </div>
        {% endif %}
        
    </div>
</div>
</div>


<!-- Login Modal -->
<div class="modal fade" id="exampleModalScrollable1" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">ورود به مووِر</h5>
                <div class="float-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'loginuser' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" style="float: right; padding-right: 10px; text-align: right;">نام
                            کاربری</label>
                        <input type="text" name="username" class="form-control" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password" style="float: right; padding-right: 10px; text-align: right;">رمز
                            عبور</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button type="submit" class="btn btn-primary"
                        style="margin-bottom: 10px; width: 100%;">ورود</button>
                    <div class="modal-footer">
                        <small style="font-size: 120%; font-weight: 500; padding-top: 10px; letter-spacing: 1px;"><a
                                style="color: black;" href="#" data-dismiss="modal" data-toggle="modal"
                                data-target="#exampleModalScrollable2">عضویت</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Sign Up Modal -->
<div class="modal fade" id="exampleModalScrollable2" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle" style="padding-right: 10px;">عضویت در مووِر
                </h5>
                <div class="float-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'signupuser' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" style="float: right; padding-right: 10px; text-align: right;">نام کاربری</label>
                        <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="email" style="float: right; padding-right: 10px; text-align: right;">ایمیل</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="usernameHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="password1" style="float: right; padding-right: 10px; text-align: right;">رمز عبور</label>
                        <input minlength="8" type="password" name="password1" class="form-control" id="password1" required>
                    </div>
                    <div class="form-group">
                        <label for="password2" style="float: right; padding-right: 10px; text-align: right;">تکرار رمز عبور</label>
                        <input minlength="8" type="password" name="password2" class="form-control" id="password2" required>
                    </div>
                    <button type="submit" class="btn btn-primary signup" style="margin-bottom: 10px; width: 100%;">عضویت</button>
                    <div class="modal-footer">
                        <small style="font-size: 120%; font-weight: 500; padding-top: 10px; letter-spacing: 1px;"><a
                                href="#" data-dismiss="modal" data-toggle="modal"
                                data-target="#exampleModalScrollable1">ورود</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




        <!-- Small -->

        <div id="smallcontent">
            <div id="smallspace">
    
            </div>
    
            <div id="smalldayfilmparent">
    
                <a href="{% url 'movie:detail' FilmOfTheDay.id %}"><img src="{{ FilmOfTheDay.FilmOfTheDaySmallImage.url }}" id="smalldayfilm">
                    <div id="smallfilmofday"><b>FILM OF THE DAY</b></div>
                    <div id="smallopacity">
                        <div id="smalldaytitle"><b>{{ FilmOfTheDay.Title }}</b></div>
                        <div id="smalldayinfo">
                            <p style="margin-bottom: 0;"> {{ FilmOfTheDay.Director }}, {{ FilmOfTheDay.Year }}</p>
    
                        </div>
                        <div id="smalldayabout"><b></b>فیلم روز</b></div>
                        <div id="smalldaycopyright">{{ FilmOfTheDay.Synopsis }}</div>
    
                    </div>
                </a>
    
    
    
    
    
            </div>
            {% for movie in movies %}
            <div class="smallfilmbox">
                {% csrf_token %}
                <div class="smallfilmphotoparent">
                    <a href="{% url 'movie:detail' movie.id %}"><img src="{{ movie.SmallBoxFilmImage.url }}" class="smallfilmphoto">
                        <!-- <div class="smalldonwloadparent"><img src="Images/Donwload.svg" class="smalldonwlaod">
                        </div> -->
                        <div class="smalltitle"><b>{{ movie.Title }}</b></div>
                        <div class="smalldirector">{{ movie.Director }}, {{ movie.Year }}</div>
                    </a>
                </div>
                <div class="smallcopyright">
                    <p>{{ movie.Synopsis }}</p>
                    <img src="{% static 'movie/Images/HD.svg' %}" style="width: 30px; position: absolute; right: 30px; bottom: 10px;">
                    <a href="{% url 'movie:detail' movie.id %}">
                        <div class="smallmore">
                            ادامه
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}

            <div id="smallfooter">
                <a href="{% url 'home' %}"> <img src="static/movie/Images/masterclass.png" alt="Image" id="smalllogo-black"></a>
                <div id="moovr">
                    moovr
                </div>
            </div>


    <!-- ---------------------------------------- -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>