{% extends "movie/base.html" %}
{% block content %}
<head>
    <title>Login</title>
</head>
<div style="color: white;" class="col">
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2 class="d-flex justify-content-center">Login & Sign Up</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <div  class="text-center">
            Need an account? <a style="color: white;" href="#" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalScrollable2">Sign Up here</a>
        </div>
    </div>
</div>

</div>
{% endblock %}