
<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'movie/style.css' %}">
    <link rel="stylesheet" href="{% static 'movie/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'movie/css/star.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'movie/Images/favicon.ico' %}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>{{ movie.Title }}</title>
</head>

<body>
    <header class="container-fluid" id="header" style="background: url({{ movie.FilmBackgroundImage.url }}) center center; background-size : cover;">
            <div id="logo" class="headericon"><a href="{% url 'home' %}"><img style="height: 38px;" id="logoimage" src="{% static 'movie/Images/masterclass.png' %}"> </a></div>
            <div id="socialicons">
                <div id="twitter" class="headericon"><a href="http://www.twitter.com/mooverir"><img src="{% static 'movie/Images/Twitter.svg' %}"
                            id="twitterimage"></a></div>
                <div id="telegram" class="headericon"><a href="http://t.me/moovr"><img src="{% static 'movie/Images/Telegram.svg' %}"
                            id="telegramimage"></a>
                </div>
            </div>
            <div id="profile" class="headericon"><a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                <img src="{% static 'movie/Images/Profile.svg' %}" id="profileimage">
                    </a>
            </div>
            <div id="instagram" class="headericon"><a href="http://www.instagram.com/moovr_ir"><img
                        src="{% static 'movie/Images/Instagram.svg' %}" id="instagramimage"></a>
            </div>
            <div id="opacity">
                <div id="info">
                    <h1>{{ movie.Title }}</h1>
                    <h3>Directed by {{ movie.Director }}</h3>
                    <p id="country">{{ movie.Country }}, {{ movie.Year }}</p>
                    <h3 class="genre">{{ movie.Jenre }}</h3>
                    <div id="time">
                        <img src="{% static 'movie/Images/time.svg' %}" id="timeicon">
                        <p style="float: left;" id="timenumber">{{ movie.Time }}</p>
                        <img src="{% static 'movie/Images/speaker.svg' %}" id="speakericon">
                        <p>{{ movie.Language }}</p>
                    </div>
    
                </div>
    
            </div>
        </header>



            <div id="content">
                <div id="summary">
                    <h2 id="about">درباره فیلم</h2>
                    <p id="q" style="margin-top: 20px;">{{ movie.Synopsis }}</p>
        
        
                </div>
                <div class="container-fluid" id="main">
                    <div id="cast">
                        <div id="casttitle">CAST & CREW</div>
                        <div class="castinfo">Director: <span class="castinfovar" id="directorvar">{{ movie.Director }}</span></div>
                        <div class="castinfo">Writer: <span class="castinfovar" id="writervar">{{ movie.Writer }}</span></div>
                        <div class="castinfo">Cinematography: <span class="castinfovar" id="cinematographyvar">{{ movie.Cinematography }}</span></div>
                        <div class="castinfo">Music: <span class="castinfovar" id="musicvar">{{ movie.Music }}</span></div>
                        <div id="star" class="castinfo">Stars: <span id="starvar" class="castinfovar">{{ movie.Cast|safe }}</span></div>
        
                    </div>
                    <a href="{{ movie.FirstDownloadLink }}">
                        <div class="downloadbutton">
                            <div class="buttontext">
                                <p class="downloadtitle">دانلود </p>
                                <p class="downloadquantity">3.4GB</p>
                                <p class="downloadquality">1080P</p>
                            </div>
                            <span><img src="{% static 'movie/Images/donwloadarrow.svg' %}" id="downloadarrow"></span>
                        </div>
                    </a>
                    <a href="{{ movie.SecondDownloadLink }}">
                        <div class="downloadbutton" id="p720">
                            <div class="buttontext">
                                <p class="downloadtitle">دانلود </p>
                                <p class="downloadquantity">1.7GB</p>
                                <p class="downloadquality">720P</p>
                            </div>
                            <span><img src="{% static 'movie/Images/donwloadarrow.svg' %}" id="downloadarrow"></span>
                        </div>
                    </a>
                    <a href="{{ movie.Subtitle }}">
                        <div class="downloadbutton" id="sub">
                            <div class="buttontext">
                                <p class="downloadtitle">دانلود </p>
                                <p class="downloadquantity" id="srt">SRT</p>
                                <p id="subtitle">زیرنویس</p>
                            </div>
                            <span><img src="{% static 'movie/Images/donwloadarrow.svg' %}" id="downloadarrow"></span>
                        </div>
                    </a>
                </div>



    <form action="{% url 'movie:AddComment' movie.id %}" method="POST">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <div id="textareadiv">
        <textarea name="Content" id="textarea" placeholder="نظر شما درباره این فیلم ؟" required></textarea>

    </div>
    <div id="submitparent">
        <input type="submit" value="ارسال" id="submit">
        {% csrf_token %}
        <div id="spoil">
            <div class="rating">
                <input id="star5" name="Rating" type="radio" value="5" class="radio-btn hide" required/>
                <label for="star5" >☆</label>
                <input id="star4" name="Rating" type="radio" value="4" class="radio-btn hide" />
                <label for="star4" >☆</label>
                <input id="star3" name="Rating" type="radio" value="3" class="radio-btn hide" />
                <label for="star3" >☆</label>
                <input id="star2" name="Rating" type="radio" value="2" class="radio-btn hide" />
                <label for="star2" >☆</label>
                <input id="star1" name="Rating" type="radio" value="1" class="radio-btn hide" />
                <label for="star1" >☆</label>
                <div class="clear"></div>
            </div>
        </div>

    </div>
    </form>


    {% for comment in comments %}
    <div id="commentparent">
        <div class="commenting">
            <div class="name"></div>
            <p style="float: right; padding: 10px; padding-right: 5%;">{{ comment.user.username }}</p>
            <div class="commentstar">
                {% if comment.Rating == 1 %}
                <img src="{% static 'movie/Images/1Star.svg' %}">
                {% elif comment.Rating == 2 %}
                <img src="{% static 'movie/Images/2Star.svg' %}">
                {% elif comment.Rating == 3 %}
                <img src="{% static 'movie/Images/3Star.svg' %}">
                {% elif comment.Rating == 4 %}
                <img src="{% static 'movie/Images/4Star.svg' %}">
                {% elif comment.Rating == 5 %}
                <img src="{% static 'movie/Images/5Star.svg' %}">
                {% endif %}
            </div>
            <p style="float: right; padding: 10px;margin-right: 5px;">{{ comment.DateAdded }}</p>

            <p class="commentp">{{ comment.Content }}</p>
        </div>
    {% endfor %}





    <div id="footer">
        <a href="{% url 'home' %}"> <img src="{% static 'movie/Images/masterclass.png' %}" alt="Image" id="logo-black"></a>
        <a href="http://www.twitter.com/mooverir"> <img src="{% static 'movie/Images/Twitter.svg' %}" alt="Image"
                id="twitter-black"></a>
        <a href="http://www.instagram.com/moovr_ir"><img src="{% static 'movie/Images/Instagram.svg' %}" alt="Image"
                id="instagram-black"></a>
        <a href="http://www.t.me/moovr"> <img src="{% static 'movie/Images/Telegram.svg' %}" alt="Image" id="telegram-black">
        </a>
        <a href="#"><img src="{% static 'movie/Images/Top.svg' %}" id="top"></a>
    </div>
    <div id="smallfooter">
        <a href="{% url 'home' %}"> <img src="{% static 'movie/Images/masterclass.png' %}" alt="Image" id="smalllogo-black"></a>
        <div id="moovr">
            moovr
        </div>
    </div>






<!-- Profile Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-size: 1.25rem;" class="modal-title" id="exampleModalCenterTitle">پروفایل شما</h5>
                <div class="float-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="modal-body">
                <h6>Username : {{ user.username }}</h6>
                <h6>EmailAddress : {{ user.email }}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form method="POST" action="{% url 'logoutuser' %}">
                    <button type="submit" class="btn btn-warning">Log Out</button>
                    {% csrf_token %}
                </form>
            </div>
            {% else %}
            <div class="modal-body">
                <h6 style="font-size: 1rem;">در کمتر از ۳۰ ثانیه اکانت بسازید و از مزایای موور بهره مند شوید!</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalScrollable1">Login</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalScrollable2">Sign Up</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>


<!-- Login Modal -->
<div class="modal fade" id="exampleModalScrollable1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">ورود به موور</h5>
                <div class="float-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'loginuser' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username" required>
                    </div>
                    <div class="form-group">
                        <label  for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="modal-footer">
                        <small>need an account?<a style="color: black;" href="#" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalScrollable2">Sign Up here</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Sign Up Modal -->
<div class="modal fade" id="exampleModalScrollable2" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">عضویت در موور</h5>
                <div class="float-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'signupuser' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp" required>
                        <small style="font-size: 80%; font-weight: 400;" id="usernameHelp" >.Your username must be unique. We'll let you know if someone has taken it already</small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="usernameHelp" required>
                        <small style="font-size: 80%; font-weight: 400;" id="usernameHelp" >.We'll never share your email address with anyone</small>
                    </div>
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input minlength="8" type="password" name="password1" class="form-control" id="password1" required>
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input minlength="8" type="password" name="password2" class="form-control" id="password2" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                    <div class="modal-footer">
                        <small style="font-size: 80%; font-weight: 400;">have an account?<a style="color: black;" href="#" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalScrollable1">Login here</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>